.appdata/
.dotnet-home/
.nuget/

artifacts/
bin/
obj/

*.user
*.suo
*.tmp

/EVEProfileSync.App.exe
/EVEProfileSync.App.dll
/EVEProfileSync.App.deps.json
/EVEProfileSync.App.runtimeconfig.json
/EVEProfileSync.Core.dll
/artifact-map.json
/Assets/
